<!DOCTYPE html>
<html lang="en" style="font-size: 128px">
<head>
  <meta charset="UTF-8">
  <title>404</title>
  <style>
    .full-scream {
      background: rgb(239, 246, 246);
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      color: rgb(47, 190, 205);
      font-size: .45rem;
    }
    h3 {
      margin-top: 1rem;
      text-align: center;
      font-size: 3rem;
      margin-bottom: 1rem;
    }
    p {
      text-align: center;
      color: #999;
    }
    a {
      text-decoration: none;
      color: burlywood;
    }
  </style>
</head>
<body>
  <div class="full-scream">
    <h3>404</h3>
    <p>If you always see this page</p>
    <p>
      please report an
      <a href="https://github.com/ElemeFE/page-skeleton-webpack-plugin/issues" target="__blank">issue</a>. 
    </p>
    <p>
      Or contact us by
      <a href="mailto:ran.luo03@ele.me">email</a>.
    </p>
  </div>
</body>
</html>
