{
  "extends": "eslint:recommended",
  "ecmaFeatures": {
    "modules": true
  },
  "globals": {
    "Vue": true,
    "VueRouter": true,
    "document": true,
    "window": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "semi": ["error", "never"],
    "comma-dangle": ["error", "never"],
    "consistent-return": "off",
    "no-param-reassign": "off",
    "no-underscore-dangle": "off",
    "prefer-destructuring": ["error", {"object": false, "array": false}],
    "prefer-rest-params": "off",
    "strict": ["error", "safe"]
  },
  "parser": "babel-eslint",
  "plugins": ["vue"]
}
